<div class="about" style="padding-top: 5px;">
    <div style="padding:5px 30px;">
        <div class="card" style="width: 100%;">
            <div class="card-header">
                POE2 查價工具 v0.1.1
            </div>
            <div class="card-body">
                <p>作者：Seraveegd</p>
                <p>
                    <button type="button" class="btn btn-outline-success" (click)="openGithubRelease()">
                        版本發佈歷史請點我
                    </button>
                </p>
            </div>
        </div>
    </div>
    <div style="padding:5px 30px;">
        <div class="card" style="width: 100%;">
            <div class="card-header">
                免責聲明
            </div>
            <div class="card-body">
                <h5>使用此程式者請自行承擔所有可能後果和風險</h5>
                <p>此程式並無修改任何記憶體</p>
                <p>運作原理為抓取 POE2 遊戲內對物品複製後的文字進行分析，以利快速查價</p>
                <p>串接的 API 皆為官方公開資源，請勿於短時間內快速搜尋造成伺服器負擔</p>
                <p>
                    <b style="font-family: monospace; background-color: lightyellow;">This product isn't affiliated with
                        or
                        endorsed by Grinding Gear Games and Garena in any way.</b>
                </p>
            </div>
        </div>
    </div>
    <div style="padding:5px 30px;">
        <div class="card" style="width: 100%;">
            <div class="card-header">
                這是免費程式
            </div>
            <div class="card-body">
                <p>此程式已在 GitHub 上開源，歡迎分享給親朋好友使用</p>
            </div>
        </div>
    </div>
    <div style="padding:5px 30px;">
        <div class="card" style="width: 100%;">
            <div class="card-header">
                使用說明
            </div>
            <div class="card-body">
                <p>1. 點此頁上方的「首頁」頁籤</p>
                <p>2. 切換視窗回遊戲中</p>
                <p>3. 將滑鼠停在物品上，按下 Ctrl+C </p>
                <p>4. 程式將自動判斷此次搜尋物品 </p>
            </div>
        </div>
    </div>
</div>