.card-body {
    padding: 10px !important;

    * {
        text-align: center;
    }

    p {
        margin-block-start: 0.5em;
        margin-block-end: 0em;
    }
}

.card-header{
    text-align: center;
}