@if (searchResult.fetchQueryID !== '') {
<div id="fetchResult" style="padding-top: 10px;">
    <div style="text-align: center;margin-bottom: 10px;">
        <img [src]="itemImage" style="max-height:100px;" />
    </div>
    <div style="text-align: center;">
        <!-- <loading loader="bars" :active.sync="isLoading" :is-full-page="false"></loading> -->
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">
                        前 {{ fetchResult.length }} 筆價格分析
                        @if (corruptedCount > 0) {
                        <div>
                            {{ corruptedCount }}筆已汙染
                        </div>
                        }
                        @if (searchResult.extraFilterStr !== ''){
                        <br>搜尋群組再過濾：{{ searchResult.extraFilterStr }}
                        }
                        <!-- <span v-if="corruptedCount && corruptedCount === fetchResultPrice.length"
                            style="color: lightpink;">{{ corruptedCount }} 筆皆汙染</span> -->
                        <!-- <b-button v-else-if="corruptedCount" @click="$emit('exclude')" size="sm"
                            :variant="corruptedCount > 5 ? 'outline-danger' : 'outline-warning'">排除 {{ corruptedCount }}
                            筆已汙染</b-button> -->
                        <!-- <div v-if="corruptedCount" style="padding: 1px 0px;"></div> -->
                        <!-- <b-button v-if="fetchResultPrice.length <= 40 && searchResult.fetchID.length >= 4 && calResultLength"
                            @click="priceAnalysis(8)" :disabled="isCounting" size="sm" variant="outline-primary">再多搜 {{
                            calResultLength >= 40 ? 40 : calResultLength }} 筆價格</b-button> -->
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (currencys of computed; track $index) {
                @for (currency of currencys[1]; track $index;) {
                <tr>
                    <td>報價：{{ currency[0] }} x <img [src]="currencysList.get(currencys[0]).image" placement="top"
                            [ngbTooltip]="currencysList.get(currencys[0]).text" style="cursor: pointer;"> / {{
                        currency[1] }}筆</td>
                </tr>
                }
                }
                <!-- <tr v-for="(item, index) in collectionCurrency" :key="index">
                    <td @mouseover="handleHover(index)"
                        :style="`opacity: ${hoveredIndex == index ? 1 : parseFloat(item.accountName.length / item.count)}; color: ${maxValuableIndex == index && parseFloat(item.accountName.length / item.count) > 0.85 ? 'darkred;' : ''}`">
                        報價：{{ item.amount }} x
                        <b-img :src="item.image" :alt="item.text" width=30 height=30></b-img>
                        / <b>{{ item.count }}</b>筆
                        <span v-if="isPriceCollapse === false">（<b>{{ item.accountName.length }}</b>人標）</span>
                        <b-icon-x-square v-show="hoveredIndex == index && $store.state.POESESSID"
                            @click="addToBlackList(item.accountName)" v-b-tooltip.hover.right.v-secondary
                            :title="`將這 ${item.accountName.length} 人加入黑名單`" style="cursor: pointer;"></b-icon-x-square>
                    </td>
                </tr> -->
            </tbody>
            <!-- <tfoot v-show="$store.state.POESESSID">
                <tr>
                    <th>
                        <button>重新整理</button>
                    </th>
                </tr>
            </tfoot> -->
        </table>
    </div>
</div>
}