#fetchResult,
#fetchCustomResult {
    tbody {
        img {
            max-width: 36px;
        }

        .itemImage {
            position: relative;
            width: 56px;
        }

        .itemDetail {
            width: 100%;
        }

        .itemDetail>div>div {
            position: relative;

            .tier_detail, .tier {
                position: absolute;
                right: -48px;
                top: 0;
            }

            .tier_detail{
                display: none;
                background-color: #0d0d0d;
                padding: 0 6px;
            }

            &:hover .tier_detail {
                display: inline-block;
                z-index: 1;
                right: -54px;
            }
        }

        .itemDetail>div {
            color: #7f7f7f;
        }

        .itemDetail div {
            text-align: left;
        }

        hr {
            background: none;
            border-bottom: 1px dotted #333;
            height: 1px;
            margin: 1px 0;
        }

        .desecrated {
            box-shadow: inset 0.1em 0.1em 1em -0.6em green;
        }

        .desecrated,
        .skill {
            color: #88f !important;
        }

        .implicit,
        .explicit {
            color: #ffffff !important;
        }

        .crafted,
        .enchant,
        .rune {
            color: #b4b4ff !important;
        }

        .gold-icon {
            display: inline-block;
            background: url(https://webtw.poecdn.com/protected/image/gen/trade.png?v=1781215435046&key=nIFEZiE4lkptZMARNY-yNQ) no-repeat;
            background-position: -246px -200px;
            width: 22px;
            height: 18px;
            vertical-align: middle;
        }

        .trade {
            border: 1px solid #444;
            min-width: 22px;
            color: #e9cf9f;
            padding: 0 5px;
            font-weight: 400;
            cursor: pointer;
        }

        .searchBy {
            background: url(https://webtw.poecdn.com/protected/image/gen/trade.png?v=1781215435046&key=nIFEZiE4lkptZMARNY-yNQ) no-repeat;
            background-position: -116px -200px;
            width: 30px;
            height: 30px;
            position: absolute;
            border: 0;
            bottom: 6px;
            left: 6px;
        }

        [data-field="stat.explicit.stat_3299347043"],
        [data-field="stat.explicit.stat_3299347043"] {
            color: #d14e4e
        }

        [data-field="stat.explicit.stat_3372524247"],
        [data-field="stat.explicit.stat_3372524247"] {
            color: #b97123;
        }

        [data-field="stat.explicit.stat_4220027924"],
        [data-field="stat.explicit.stat_4220027924"] {
            color: #3f6db3
        }

        [data-field="stat.explicit.stat_1671376347"],
        [data-field="stat.explicit.stat_1671376347"] {
            color: #adaa47
        }

        [data-field]{
            cursor: pointer;
        }
    }
}

@media (prefers-color-scheme: dark) {
    table {
        th {
            background-color: #333333;
            color: #e5e4e4;
            border-color: #6d6d6d;
        }

        tr:nth-child(even) {
            td {
                background: rgb(38 37 36 / 30%);
                color: #e5e4e4;
                border-color: #6d6d6d;
            }
        }

        tr:nth-child(odd) {
            td {
                background-color: rgb(38 38 37 / 70%) !important;
                color: #e5e4e4;
                border-color: #6d6d6d;
            }
        }
    }
}