#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-bottom: 1px solid rgb(75 75 75 / 50%);
    padding: 3px;
    box-shadow: 1px 1px 5px #1c1e1d;
    margin-bottom: 4px;

    #nav {
        display: flex;
    }

    a {
        padding: 4px;
        text-decoration: none;
        flex: auto;
        text-align: center;

        &:hover {
            background-color: rgb(34 32 32 / 50%);
        }
    }

    button {
        margin-left: auto;
    }
}

@media (prefers-color-scheme: dark) {
    a {
        color: white;
    }
}

@media (prefers-color-scheme: light) {
    #app {
        box-shadow: 1px 1px 5px #b1b1b1;

        a {
            color: #0067ff;

            &:hover {
                background: rgb(190 186 186 / 50%);
            }

            &:first-child {
                border-right: 1px solid #c0c0c0 !important;
            }
        }
    }
}