<div id="app">
  <div id="hide" style="position: absolute; right: 0; top: 0; z-index: 99; line-height: 32px;" placement="bottom" ngbTooltip="隱藏"><button style="border: 1px solid rgba(97, 97, 97, 0.5); background: rgba(56, 56, 56, 0.5);" (click)="isDisplay('blur')">—</button></div>
  <div id="nav" style="display: flex; justify-content: center; clear: both; position: relative;">
    <a routerLink="/home" style="border-right: 1px solid #6b6262">首頁</a>
    <a routerLink="/about">關於我</a>
    <!-- <div class="form-check form-switch"> -->
    <input type="checkbox" (click)="changeTheme()" id="toggle_checkbox" [checked]="colorScheme === 'light'">
    <label for="toggle_checkbox">
      <div id="star">
        <div class="star" id="star-1">★</div>
        <div class="star" id="star-2">★</div>
      </div>
      <div id="moon"></div>
    </label>
  </div>
</div>
<!-- <hr style="margin:3px 0;"> -->
<router-outlet />