/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

* {
    font-size: 14px;
}

:root {
    color-scheme: light dark;
}


html,
body {
    /* 預設隱藏，避免閃爍 */
    background-color: transparent !important;
}

/* 強制定義顯示類別 */
.force-show {
    display: block !important;
    visibility: visible !important;
    opacity: 1 !important;
}

.force-hide {
    display: none !important;
}

@media (prefers-color-scheme: dark) {
    body {
        background: #333;
        color: white;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background: #ddd;
        color: black;
    }
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';