<div id="home">
    <div style="padding:5px 10px;">
        <ng-container>
            <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <select class="form-select" aria-label="伺服器">
                                    @for (item of searchOptions.serverOptions; track $index) {
                                    <option>{{ item }}</option>
                                    }
                                </select>
                            </div>
                            <div class="col-6">
                                <select class="form-select" aria-label="聯盟">
                                    @for (item of searchOptions.leagues.options; track $index) {
                                    <option [selected]="item.text == searchOptions.leagues.chosenL">{{ item.text }}
                                    </option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <!-- <div class="col-4">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="OnlineflexSwitchCheckChecked"
                                        [checked]="searchOptions.isOnline"
                                        (click)="searchOptions.isOnline = !searchOptions.isOnline">
                                    <label class="form-check-label" for="OnlineflexSwitchCheckChecked">只顯示線上</label>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="PricedflexSwitchCheckChecked"
                                        [checked]="searchOptions.isPriced"
                                        (click)="searchOptions.isPriced = !searchOptions.isPriced">
                                    <label class="form-check-label" for="PricedflexSwitchCheckChecked">有標價</label>
                                </div>
                            </div> -->
                            <div class="col-6">
                                <div class="form-floating">
                                    <select class="form-select" id="floatingSelect_price"
                                        [(ngModel)]="searchOptions.priceSetting.chosenObj" aria-label="價格篩選">
                                        @for (item of searchOptions.priceSetting.options; track $index) {
                                        <option [ngValue]="item.prop">{{
                                            item.label }}</option>
                                        }
                                    </select>
                                    <label for="floatingSelect_price">價格篩選</label>
                                </div>
                                <!-- <select class="form-select" aria-label="價格篩選">
                                    @for (item of searchOptions.priceSetting.options; track $index) {
                                    <option [selected]="searchOptions.priceSetting.chosenObj.label == item.label">{{
                                        item.label }}</option>
                                    }
                                </select> -->
                            </div>
                            <div class="col-6">
                                <div class="form-floating">
                                    <select class="form-select" id="floatingSelect_corrupt" aria-label="已汙染"
                                        [(ngModel)]="searchOptions.corruptedSet.chosenObj">
                                        @for (item of searchOptions.corruptedSet.options; track $index) {
                                        <option [ngValue]="item.prop">{{
                                            item.label }}</option>
                                        }
                                    </select>
                                    <label for="floatingSelect_corrupt">汙染</label>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-4">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="AccountflexSwitchCheckChecked"
                                        [checked]="searchOptions.isPriceCollapse"
                                        (click)="searchOptions.isPriceCollapse = !searchOptions.isPriceCollapse">
                                    <label class="form-check-label" for="AccountflexSwitchCheckChecked">依帳號摺疊</label>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="CorruptedflexSwitchCheckChecked"
                                        [checked]="searchOptions.corruptedSet.isSearch"
                                        (click)="searchOptions.corruptedSet.isSearch = !searchOptions.corruptedSet.isSearch">
                                    <label class="form-check-label" for="CorruptedflexSwitchCheckChecked">已汙染</label>
                                </div>
                            </div>
                            <div class="col-5">
                                <select class="form-select" aria-label="已汙染"
                                    [disabled]="!searchOptions.corruptedSet.isSearch">
                                    @for (item of searchOptions.corruptedSet.options; track $index) {
                                    <option [selected]="searchOptions.corruptedSet.chosenObj.label == item.label">{{
                                        item.label }}</option>
                                    }
                                </select>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <!--物品搜尋-->
            <div #collapse="ngbCollapse" [(ngbCollapse)]="ui.collapse.item" style="margin-top:10px;">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="ItemLevelflexSwitchCheckChecked"
                                        [(ngModel)]="searchOptions.itemLevel.isSearch"
                                        (click)="searchOptions.itemLevel.isSearch = !searchOptions.itemLevel.isSearch">
                                    <label class="form-check-label" for="ItemLevelflexSwitchCheckChecked">物品等級</label>
                                </div>
                            </div>
                            <div class="col-1" style="padding: 0 2px;">
                                <input type="text" aria-label="min" class="form-control"
                                    [(ngModel)]="searchOptions.itemLevel.min"
                                    [disabled]="!searchOptions.itemLevel.isSearch">
                            </div>
                            <div class="col-1" style="padding: 0 2px;">
                                <input type="text" aria-label="max" class="form-control"
                                    [(ngModel)]="searchOptions.itemLevel.max"
                                    [disabled]="!searchOptions.itemLevel.isSearch">
                            </div>
                            <div class="col-3">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="RaritySetflexSwitchCheckChecked"
                                        [(ngModel)]="searchOptions.raritySet.isSearch"
                                        (click)="searchOptions.raritySet.isSearch = !searchOptions.raritySet.isSearch">
                                    <label class="form-check-label" for="RaritySetflexSwitchCheckChecked">稀有度</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <select class="form-select" aria-label="稀有度"
                                    [disabled]="!searchOptions.raritySet.isSearch"
                                    [(ngModel)]="searchOptions.raritySet.chosenObj">
                                    @for (item of searchOptions.raritySet.option; track $index) {
                                    <option [ngValue]="item.prop">{{ item.label
                                        }}</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox"
                                        id="ItemCategoryflexSwitchCheckChecked"
                                        [(ngModel)]="searchOptions.itemCategory.isSearch"
                                        (click)="searchOptions.itemCategory.isSearch = !searchOptions.itemCategory.isSearch">
                                    <label class="form-check-label"
                                        for="ItemCategoryflexSwitchCheckChecked">物品分類</label>
                                </div>
                            </div>
                            <div class="col-2" style="padding: 0 2px;">
                                <select class="form-select" aria-label="物品分類"
                                    [disabled]="!searchOptions.itemCategory.isSearch"
                                    [(ngModel)]="searchOptions.itemCategory.chosenObj">
                                    @for (item of searchOptions.itemCategory.option; track $index) {
                                    <option [ngValue]="item.prop">{{
                                        item.label }}</option>
                                    }
                                </select>
                            </div>
                            <div class="col-3">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="ItemBasicflexSwitchCheckChecked"
                                        [(ngModel)]="searchOptions.itemBasic.isSearch"
                                        (click)="searchOptions.itemBasic.isSearch = !searchOptions.itemBasic.isSearch">
                                    <label class="form-check-label" for="ItemBasicflexSwitchCheckChecked">物品基底</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control" placeholder="物品基底" aria-label="物品基底"
                                    [(ngModel)]="searchOptions.itemBasic.text" disabled="true">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--地圖搜尋-->
            <div #collapse="ngbCollapse" [(ngbCollapse)]="ui.collapse.map" style="margin-top:10px;">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="MapLevelflexSwitchCheckChecked"
                                        [(ngModel)]="searchOptions.mapLevel.isSearch"
                                        (click)="searchOptions.mapLevel.isSearch = !searchOptions.mapLevel.isSearch">
                                    <label class="form-check-label" for="MapLevelflexSwitchCheckChecked">階級</label>
                                </div>
                            </div>
                            <div class="col-1" style="padding: 0 2px;">
                                <input type="text" aria-label="min" class="form-control"
                                    [(ngModel)]="searchOptions.mapLevel.min"
                                    [disabled]="!searchOptions.mapLevel.isSearch">
                            </div>
                            <div class="col-1" style="padding: 0 2px;">
                                <input type="text" aria-label="max" class="form-control"
                                    [(ngModel)]="searchOptions.mapLevel.max"
                                    [disabled]="!searchOptions.mapLevel.isSearch">
                            </div>
                            <div class="col-3">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox"
                                        id="_RaritySetflexSwitchCheckChecked"
                                        [(ngModel)]="searchOptions.raritySet.isSearch"
                                        (click)="searchOptions.raritySet.isSearch = !searchOptions.raritySet.isSearch">
                                    <label class="form-check-label" for="_RaritySetflexSwitchCheckChecked">稀有度</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <select class="form-select" aria-label="稀有度"
                                    [(ngModel)]="searchOptions.raritySet.chosenObj"
                                    [disabled]="!searchOptions.raritySet.isSearch">
                                    @for (item of searchOptions.raritySet.option; track $index) {
                                    <option [ngValue]="item.prop">{{ item.label
                                        }}</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--技能寶石搜尋-->
            <div #collapse="ngbCollapse" [(ngbCollapse)]="ui.collapse.gem" style="margin-top:10px;">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="GemLevelflexSwitchCheckChecked"
                                        [(ngModel)]="searchOptions.gemLevel.isSearch"
                                        (click)="searchOptions.gemLevel.isSearch = !searchOptions.gemLevel.isSearch">
                                    <label class="form-check-label" for="GemLevelflexSwitchCheckChecked">等級</label>
                                </div>
                            </div>
                            <div class="col-1" style="padding: 0 2px;">
                                <input type="text" aria-label="min" class="form-control"
                                    [(ngModel)]="searchOptions.gemLevel.min"
                                    [disabled]="!searchOptions.gemLevel.isSearch">
                            </div>
                            <div class="col-1" style="padding: 0 2px;">
                                <input type="text" aria-label="max" class="form-control"
                                    [(ngModel)]="searchOptions.gemLevel.max"
                                    [disabled]="!searchOptions.gemLevel.isSearch">
                            </div>
                            <div class="col-3">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox"
                                        id="GemQualityflexSwitchCheckChecked"
                                        [(ngModel)]="searchOptions.gemQuality.isSearch"
                                        (click)="searchOptions.gemQuality.isSearch = !searchOptions.gemQuality.isSearch">
                                    <label class="form-check-label" for="GemQualityflexSwitchCheckChecked">品質</label>
                                </div>
                            </div>
                            <div class="col-1" style="padding: 0 2px;">
                                <input type="text" aria-label="min" class="form-control"
                                    [(ngModel)]="searchOptions.gemQuality.min"
                                    [disabled]="!searchOptions.gemQuality.isSearch">
                            </div>
                            <div class="col-1" style="padding: 0 2px;">
                                <input type="text" aria-label="max" class="form-control"
                                    [(ngModel)]="searchOptions.gemQuality.max"
                                    [disabled]="!searchOptions.gemQuality.isSearch">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="GemSocketflexSwitchCheckChecked"
                                        [(ngModel)]="searchOptions.gemSocket.isSearch"
                                        (click)="searchOptions.gemSocket.isSearch = !searchOptions.gemSocket.isSearch">
                                    <label class="form-check-label" for="GemSocketflexSwitchCheckChecked">插槽</label>
                                </div>
                            </div>
                            <div class="col-1" style="padding: 0 2px;">
                                <input type="text" aria-label="min" class="form-control"
                                    [(ngModel)]="searchOptions.gemSocket.min"
                                    [disabled]="!searchOptions.gemSocket.isSearch">
                            </div>
                            <div class="col-1" style="padding: 0 2px;">
                                <input type="text" aria-label="max" class="form-control"
                                    [(ngModel)]="searchOptions.gemSocket.max"
                                    [disabled]="!searchOptions.gemSocket.isSearch">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--詞綴搜尋-->
            @if(item.name !== ''){
            <div style="text-align: center;">
                <h5 [innerHTML]="item.name"
                    style="text-align: center; cursor: pointer;padding-top: 6px;display: inline-block; color: white;"
                    (click)="ui.collapse.stats = !ui.collapse.stats"></h5>
            </div>
            }
            @if(item.searchStats.length > 0 || item.searchDefences.length){
            <div #collapse="ngbCollapse" [(ngbCollapse)]="ui.collapse.stats">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <table class="table" id="stats">
                                    <thead>
                                        <tr>
                                            <th scope="col" style="width: 50px;">查詢</th>
                                            <th scope="col" style="width: 55px;">種類</th>
                                            <th scope="col">詞綴內容</th>
                                            <th scope="col" style="width: 70px;">最小值</th>
                                            <th scope="col" style="width: 70px;">最大值</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- 防禦 -->
                                        @for (defence of item.searchDefences; track $index) {
                                        <tr>
                                            <td
                                                [ngStyle]="{'backgroundColor': defence.isSearch ? 'rgb(39 45 69 / 30%)' : null}">
                                                <div class="form-check">
                                                    <input class="form-check-input" name="ststsChecked" type="checkbox"
                                                        [(ngModel)]="defence.isSearch"
                                                        [id]="'StstsflexCheckDefault_' + $index">
                                                    <label class="form-check-label"
                                                        [for]="'StstsflexCheckDefault_' + $index">
                                                    </label>
                                                </div>
                                            </td>
                                            <td
                                                [ngStyle]="{'background': defence.isSearch ? 'rgb(39 45 69 / 30%)' : null, 'color': typeColors.get(defence.type), 'font-weight': 'bolder'}">
                                                {{
                                                defence.type }}
                                            </td>
                                            <td (click)="defence.isSearch = !defence.isSearch"
                                                style="white-space:pre-wrap;cursor: pointer;"
                                                [ngStyle]="{'background': defence.isSearch ? 'rgb(39 45 69 / 30%)' : null}">
                                                {{
                                                defence.text }}
                                            </td>
                                            <td
                                                [ngStyle]="{'background': defence.isSearch ? 'rgb(39 45 69 / 30%)' : null}">
                                                <div>
                                                    <input type="text" class="form-control" aria-label="min"
                                                        [(ngModel)]="defence.min">
                                                </div>
                                            </td>
                                            <td
                                                [ngStyle]="{'background': defence.isSearch ? 'rgb(39 45 69 / 30%)' : null}">
                                                <div>
                                                    <input type="text" class="form-control" aria-label="max"
                                                        [(ngModel)]="defence.max">
                                                </div>
                                            </td>
                                        </tr>
                                        }
                                        <!-- 裝備插槽 -->
                                        @if( searchOptions.itemSocket.min > 0) {
                                        <tr>
                                            <td
                                                [ngStyle]="{'background': searchOptions.itemSocket.isSearch ? 'rgb(39 45 69 / 30%)' : null}">
                                                <div class="form-check">
                                                    <input class="form-check-input" name="socketChecked" type="checkbox"
                                                        [(ngModel)]="searchOptions.itemSocket.isSearch"
                                                        id="socketflexCheckDefault">
                                                    <label class="form-check-label" for="socketflexCheckDefault">
                                                    </label>
                                                </div>
                                            </td>
                                            <td
                                                [ngStyle]="{'background': searchOptions.itemSocket.isSearch ? 'rgb(39 45 69 / 30%)' : null, 'font-weight': 'bolder', 'color': typeColors.get('插槽')}">
                                                插槽</td>
                                            <td (click)="searchOptions.itemSocket.isSearch = !searchOptions.itemSocket.isSearch"
                                                style="white-space:pre-wrap;cursor: pointer;"
                                                [ngStyle]="{'background': searchOptions.itemSocket.isSearch ? 'rgb(39 45 69 / 30%)' : null}">
                                                空符文插槽數量</td>
                                            <td
                                                [ngStyle]="{'background': searchOptions.itemSocket.isSearch ? 'rgb(39 45 69 / 30%)' : null}">
                                                <div>
                                                    <input type="text" class="form-control" aria-label="max"
                                                        [(ngModel)]="searchOptions.itemSocket.min" disabled="true">
                                                </div>
                                            </td>
                                            <td
                                                [ngStyle]="{'background': searchOptions.itemSocket.isSearch ? 'rgb(39 45 69 / 30%)' : null}">
                                                <div>
                                                    <input type="text" class="form-control" aria-label="max"
                                                        [(ngModel)]="searchOptions.itemSocket.max" disabled="true">
                                                </div>
                                            </td>
                                        </tr>
                                        }
                                        <!--詞綴-->
                                        @for (stat of item.searchStats; track $index) {
                                        <tr>
                                            <td
                                                [ngStyle]="{'backgroundColor': stat.isSearch ? 'rgb(39 45 69 / 30%)' : null}">
                                                @if (stat.id !== '') {
                                                <div class="form-check">
                                                    <input class="form-check-input" name="ststsChecked" type="checkbox"
                                                        [(ngModel)]="stat.isSearch"
                                                        [id]="'StstsflexCheckDefault_' + $index">
                                                    <label class="form-check-label"
                                                        [for]="'StstsflexCheckDefault_' + $index">
                                                    </label>
                                                </div>
                                                }
                                                @else {
                                                <b style="cursor: pointer;" placement="top" ngbTooltip="無法解析詞綴">?</b>
                                                }
                                            </td>
                                            <td
                                                [ngStyle]="{'background': stat.isSearch ? 'rgb(39 45 69 / 30%)' : null, 'color': typeColors.get(stat.type), 'font-weight': 'bolder'}">
                                                {{
                                                stat.type }}
                                            </td>
                                            <td (click)="stat.isSearch = !stat.isSearch"
                                                style="white-space:pre-wrap;cursor: pointer;"
                                                [ngStyle]="{'background': stat.isSearch ? 'rgb(39 45 69 / 30%)' : null, 'color': (stat.id=='') ? 'red' : null}">
                                                {{
                                                stat.text }}
                                            </td>
                                            <td
                                                [ngStyle]="{'background': stat.isSearch ? 'rgb(39 45 69 / 30%)' : null}">
                                                <div>
                                                    <input type="text" class="form-control" aria-label="min"
                                                        [(ngModel)]="stat.min">
                                                </div>
                                            </td>
                                            <td
                                                [ngStyle]="{'background': stat.isSearch ? 'rgb(39 45 69 / 30%)' : null}">
                                                <div>
                                                    <input type="text" class="form-control" aria-label="max"
                                                        [(ngModel)]="stat.max">
                                                </div>
                                            </td>
                                        </tr>
                                        }
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
        </ng-container>
        <!--之後做-->
        @if (item.category) {
        <div id="search" style="text-align: center;">
            <button (click)="clickToSearch()" class="btn btn-primary">搜尋</button>
        </div>
        }

    </div>
</div>
<hr style="margin:3px 0;">
<!-- API發送錯誤 -->
@if (app.apiErrorStr !== '' && app.isApiError){
<ngb-alert [dismissible]="false" style="margin: 3px;">
    API 錯誤：{{ app.apiErrorStr }}
</ngb-alert>
}
<!-- @if (app.isApiError) {
<h6 [innerHTML]="searchResult.status" style="padding-top: 10px;text-align: center;font-weight: bolder;"></h6>
} -->
@if (searchResult.status !== '') {
<h6 [innerHTML]="searchResult.status" style="padding-top: 10px;text-align: center;font-weight: bolder;cursor: pointer;"></h6>
<div style="text-align: center;"><button (click)="openOfficalTradeSite()" type="button"
        class="btn btn-outline-primary">台服官方交易市集</button></div>
@if (searchResult.searchTotal > 0){
<app-analyze [searchResult]="searchResult" (isCounting)="countingStatus($event)"></app-analyze>
}
}