.row {
    padding: 4px;

    &:first-child {
        padding: 0 4px 4px 4px;
    }

    &:last-child {
        padding: 4px 4px 0 4px
    }

    input[type="text"] {
        font-size: 12px;
    }

    div {
        align-content: center;
    }
}

#search {
    padding: 6px;
}

#stets {
    user-select: none;

    tr {
        td {
            position: relative;
            vertical-align: middle;

            &:first-child {
                text-align: center;
            }

            input {
                border: 1px solid #ccc;
            }

            .form-check {
                position: absolute;
                top: 12px;
                left: 17px;
            }
        }
    }
}